<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#about">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/home">PRODUCTS</a></li>
        <li><a routerLink="/cart">CART</a></li>
        <li><a href="#serv">SERVICES</a></li>
        <li><a routerLink="/contactUs">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-contact id="contact"></app-contact>
<footer class="container-fluid text-center" style="background-color: black;">
  <p style="color:white">Theme Made By <a href="https://togin-thomas.github.io/togin.github.io/"
      title="Visit w3schools">https://togin-thomas.github.io/togin.github.io/</a></p>
  <div class="version">Beta Version 1.0.0 </div>
  <div class="contact">
    <span class="fa fa-linkedin my-hover-opacity"
      onclick="window.open('https://www.linkedin.com/in/togin-thomas-6837a7134/', '_blank');"></span> &nbsp;
    <span class="fa fa-github my-hover-opacity" onclick="window.open('https://github.com/Togin', '_blank');"></span>
    &nbsp;
    <span class="fa fa-facebook-official my-hover-opacity"
      onclick="window.open('https://www.facebook.com/togin.thomas.5', '_blank');"></span> &nbsp;
    <span class="fa fa-instagram my-hover-opacity"
      onclick="window.open('https://www.instagram.com/_t_o_g_i_n_/?hl=en', '_blank');"></span> &nbsp;
  </div>
  <p>© All Rights Reversed | Made With Togin Thomas</p>
</footer>
