.item-main-div {
  border: 1px solid #e7bebe;
  border-radius: 5px;
  margin: 5px;
}

img {
  width: 200px;
}

.checked {
  color: orange;
}

.name-cls {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.price-cls {
  margin-left: 20px;
  color: orange;
  float: left;
  font-size: 16px;
  font-weight: bold;
}

.blk-cls {
  color: black;
}

.clr-cls {
  color: #3f51b5;
}

.blur-cls {
  opacity: .2;
  color: grey;
}

.thumbnail:hover {
  border: 1px solid grey;
}

