<div class="container-fluid" style="margin: 30px;">
  <h3 style="text-align: center;margin: 20px;">Our products</h3>
  <div class="row" *ngIf="viewItems && viewItems.length > 0">
    <ng-container *ngFor="let item of viewItems; let in = index">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="thumbnail">
          <button mat-icon-button style="position: absolute;top: 10px;right: 30px;" color="warn">
            <span class="material-icons" (click)="like(in, item)" [ngClass]="(item.like)? 'clr-cls': 'blk-cls'">
              favorite
            </span>
          </button>
          <img *ngIf="in%2 === 0" src="../../../../assets/img5.jpg" alt="Paris" width="400" height="300"
            (click)="openDetails(item)">
          <img *ngIf="in%2 !=0" src="../../../../assets/img4.jpg" alt="Paris2" width="400" height="300"
            (click)="openDetails(item)">
          <button [@bounce] class="cart-icon" mat-mini-fab style="position: absolute;bottom: 110px;right: 30px;"
            color="primary" *ngIf="item.cart" (click)="cart(in, item)">
            <span class="material-icons">
              visibility
            </span>
          </button>
          <button [@bounce] class="cart-icon" mat-mini-fab style="position: absolute;bottom: 110px;right: 30px;"
            *ngIf="!item.cart" color="warn" (click)="cart(in, item)">
            <span class="material-icons">
              shopping_cart
            </span>
          </button>
          <p class="name-cls" (click)="openDetails(item)"><strong>{{ item.name }}</strong></p>
          <div class="row" (click)="openDetails(item)">
            <div>
              <p class="price-cls">$46.00</p>
            </div>
            <div style="margin-right: 20px;float: right;">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>
<div class="container-fluid">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-mini-fab style="background-color: black;" (click)="back()" [disabled]="itemPage< 2"
      [ngClass]="(itemPage < 2)? 'blur-cls':''" href="#item">
      <span class="material-icons">
        keyboard_arrow_left
      </span>
    </button>
    <button mat-mini-fab color="accent" style="background-color: black;" (click)="frwd()"
      [disabled]="((itemPage* singlePageCount) >= items.length)"
      [ngClass]="((itemPage* singlePageCount) >= items.length)? 'blur-cls':''">
      <span class="material-icons">
        keyboard_arrow_right
      </span>
    </button>
  </div>
</div>
