.fa {
  font-size: 25px;
  color: #9c9382;
}

.checked {
  color: orange;
}

.border-cls {
  border: 1px solid orange;
}

.hover-cls:hover {
  border: 1px solid green;
}

img:hover {
  border: 1px solid grey;
}
