<div class="container-fluid" style="background-color: black;color: white">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>We love our customers!</em></p>
  <div class="row test">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-map-marker"></span> &nbsp; Kerala, IN</p>
      <p><span class="glyphicon glyphicon-phone"></span>&nbsp; Phone: +91 9876543210</p>
      <p><span class="glyphicon glyphicon-envelope"></span>&nbsp; Email: test@mail.com</p>
    </div>
  </div>
</div>
