<div class="jumbotron text-center" id="about">
  <h1>Shopping World</h1>
  <p>Join with us</p>
  <div class="container-fluid">
    <app-slide-show></app-slide-show>
  </div>
</div>

<app-items-view id="item"></app-items-view>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" style="margin-top: 50px;">
  <div fxFlex="33.4%" fxFlexFill class="img-main-div">
    <img [src]="img1" alt="img1" class="img-cls-off">
    <h2 class="img-centered img-text">
      50% Offer Sale
    </h2>
  </div>
  <div fxFlex="33.3%" fxFlexFill class="img-main-div">
    <img [src]="img2" alt="img2" class="img-cls-off">
    <h2 class="img-centered img-text">
      40% Offer Sale
    </h2>
  </div>
  <div fxFlex="33.3%" fxFlexFill class="img-main-div">
    <img [src]="img3" alt="img3" class="img-cls-off">
    <h2 class="img-centered img-text">
      30% Offer Sale
    </h2>
  </div>
</div>

<div class="container-fluid text-center" id="serv">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="material-icons logo-small">local_shipping</span>
      <h4>Delivery</h4>
      <p>We offer home delivery all over Kerala</p>
    </div>
    <div class="col-sm-4">
      <span class="material-icons logo-small">contact_support</span>
      <h4>24*7 Support</h4>
      <p>We are available 24 * 7</p>
    </div>
    <div class="col-sm-4">
      <span class="material-icons logo-small">payments</span>
      <h4>Cashown Delivery</h4>
      <p>Available cash on delivery for all orders</p>
    </div>
  </div>
  <br><br>

</div>

<div class="container text-center"  style="margin-bottom: 50px;">
  <h2>
    Customer Reviews
  </h2>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center"
    fxLayoutGap="20px">
    <div>
      <button mat-mini-fab>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <mat-card>
      <h3> John </h3>
      <div>
        <p class="review-font">
          " &nbsp;I love the way it has delivered to me and after using , i just wanna say one word that is awesome
          &nbsp;"
        </p>
      </div>
    </mat-card>
    <mat-card>
      <h3> Dan </h3>
      <div>
        <p class="review-font">
          " &nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Accusantium cupiditate, sed delectus &nbsp;"
        </p>
      </div>
    </mat-card>
    <mat-card>
      <h3> Mike </h3>
      <div>
        <p class="review-font">
          " &nbsp;I love the way it has delivered to me and after using , i just wanna say one word that is awesome
          &nbsp;"
        </p>
      </div>
    </mat-card>
    <div>
      <button mat-mini-fab>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
